:root {
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkdesaturatedcyan: hsl(167, 40%, 24%); /*for graphic design text*/
    --darkblue: hsl(198, 62%, 26%); /*photography text*/
    --darkmoderatecyan: hsl(168, 34%, 41%); /*footer*/

    /* neutral */
    --verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --verydarkgrayishblue: hsl(213, 9%, 39%);
    --darkgrayishblue: hsl(232, 10%, 55%);
    --grayishblue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

* {
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
    /* font-family: 'Fraunces', serif; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1, h3 {
    font-family: 'Fraunces', serif;
}

/* header */

header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 100%;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;

    position: relative;
}

.hamburger {
    display: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* column-gap: 35px;    */
}

nav li {
    margin: 0 10%;
}

nav li a {
    color: var(--white);
    transition: all 300ms;
    
}

nav li a:hover {
    font-family: 'Fraunces', serif;
    border-radius: 25px;
    background-color: var(--white);
    text-transform: uppercase;
    color: var(--verydarkgrayishblue);
    padding: 15px 20px;
    font-size: 15px;
}

nav li a:active {
    background-color: hsla(0, 0%, 100%, 0.568);
    color: var(--white);
}

.heading2 {
    text-align: center;
    margin-top: 5%;
}

.heading2 h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    color: var(--white);
    font-size: 30px;
}

.heading2 img {
    width: 25px;
    height: 90px;
    margin-top: 7%;
}


.attribution { 
    font-size: 11px; text-align: center;
    margin-bottom: 15px; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* main section */
section.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cover {
    width: 50%;
}

.passage {
    max-width: 450px;
    height: auto;
    margin: 25% auto;
    position: relative;
}

.passage h1 {
    font-size: 40px;
    color: var(--verydarkdesaturatedblue);
}

.passage p {
    font-size: 18px;
    color: var(--grayishblue);
    font-weight: 600;
    margin: 35px 0 45px;
}

.passage a {
    font-family: 'Fraunces', serif;
    color: var(--verydarkdesaturatedblue);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 1px;
    position: absolute;
    left: 4px;
    bottom: 0;
    z-index: 2;
}

.learnmore {
    position: relative;
}

.line {
    width: 150px;
    height: 9px;
    border-radius: 5px;
}

.line.yellow {
    background-color: hsla(51, 100%, 49%, 0.336);
}

.line.red {
    background-color: hsla(7, 99%, 70%, 0.61);
}

.learnmore:hover .line.yellow {
    background-color: var(--yellow);
}

.learnmore:hover .line.red {
    background-color: var(--softred);
}

.cover.graphicdesign {
    position: relative;
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.cover.graphicdesign.cherry {
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

.cover.graphicdesign.orange {
    background-image: url(./images/desktop/image-photography.jpg);
}

.fruit {
    width: 350px;
    text-align: center;
    /* left: 25%;
    bottom: -70%; */
    margin: 50% auto 0;

}

.fruit h1 {
    font-size: 20px;
    font-weight: 900;
}

.fruit p {
    font-weight: 600;
    line-height: 170%;
    margin-top: 30px;
    font-size: 15px;
}

.fruit.gd {
    color: var(--darkdesaturatedcyan);
}

.fruit.photography {
    color: var(--darkblue);
}

/* client section */
section.client {
    width: 100%;
}

section.client h1 {
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--grayishblue);
    font-size: 18px;
    margin-top: 60px;
}

.clientinfo {
    width: 350px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 30px 70px;
    column-gap: 5%;
}
.clientinfo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.clientinfo p {
    margin: 50px 0;
    color: var(--verydarkgrayishblue);
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.clientinfo h3 {
    color: var(--verydarkdesaturatedblue);
    font-weight: 900;
    margin-bottom: 12px;
    font-size: 18px;
}

.clientinfo small {
    color: var(--darkgrayishblue);
    font-size: 16px;
    font-weight: 600;
}

/* photo section */
section.photo {
    width: 100%;
    display: flex;
}

.photo img {
    width: 25%;
}

/* footer */
footer {
    width: 100%;
    background-color: hsl(168, 46%, 65%);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    color: var(--darkdesaturatedcyan);

    
}

footer .sunny {    
    font-weight: 900;
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 3vw;
}

footer a {
    color: var(--darkdesaturatedcyan);
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
}

.footerwrap{
    display: flex;
    /* column-gap: 40px; */
    margin-top: 25px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.footerwrap li {
    margin: 0 10%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* column-gap: 20px; */
    margin-bottom: 25px;
}

.logo a i{
    margin: 0 0.5rem;
}
footer a:hover {
    color: var(--white);
}

@media only screen and (max-width: 800px) {
    .heading img, .heading a {
        margin-top: 3%;
    }

    .heading img {
        width: 30%;
    }
    .heading2 h1 {
        font-size: 65px;
        margin-top: 10%;
        letter-spacing: 10px;
    }

    .heading2 img {
        width: 50px;
        height: 130px;
        margin-top: 10%;
    }
    
    .hamburger{
        display: block;
        text-align: right;
        width: 20%;
    }

    nav {
        display: none;
        width: 88%;
        flex-direction: column;
        row-gap: 30px;
        border: 1px solid transparent;
        border-radius: 10px;

        background-color: var(--white);
        
        margin-top: 12px;
        padding: 35px 0;

        position: absolute;
        right: 7%;
        top: 95%;
        z-index: 2;
    }

    nav::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: -1px;
        top: -30px;
        border: 32px solid var(--white);
		border-color: transparent var(--white) transparent transparent;
    }

    nav.show {
        display: flex;
    }

    nav li a {
        color: var(--darkgrayishblue);
        font-weight: 600;
    }

    nav li a:hover {
        background-color: var(--yellow);
        color: var(--darkblue);
    }

    

    /* main */
    section.main {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .cover {
        width: 100%;
    }

    .main :nth-child(1) {
        order: 2;
    }
    .main :nth-child(2) {
        order: 1;
    }
    .main :nth-child(3) {
        order: 3;
    }
    .main :nth-child(4) {
        order: 4;
    }
    .main :nth-child(5) {
        order: 5;
    }
    .main :nth-child(6) {
        order: 6;
    }
    .passage {
        text-align: center;
    }

    .passage {
        max-width: 400px;
        height: auto;
        margin: 25% auto;
        position: relative;
        
    }

    .passage h1 {
        font-size: 40px;
        color: var(--verydarkdesaturatedblue);
    }
    
    .passage p {
        font-size: 18px;
        margin: 35px 0 45px;
    }

    .passage a {
        letter-spacing: 1px;
        position: relative;
        left: 0;
        bottom: -8px;
        z-index: 2;
    }
    
    .line {
        margin: 0 auto;
    }

    .passage  {
        max-width: 330px;
    }

    .passage p {
        line-height: 150%;
    }

    /* graphic design and photography */
    .cover.graphicdesign {
        background-size: 100% 100%;
    }

    .fruit {
        width: 350px;
        text-align: center;
        /* left: 25%;
        bottom: -70%; */
        margin: 50% auto 0;
    
    }
    
    .fruit h1 {
        font-size: 20px;
        font-weight: 900;
    }
    
    .fruit p {
        font-weight: 600;
        line-height: 170%;
        margin-top: 30px;
        font-size: 15px;
    }

    /* client */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 45px 30px 70px;
        /* row-gap: 50px; */
        row-gap: 2rem;
    }

    .clientinfo {
        margin-top: 5px;
    }
    section.photo {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .photo img {
        width: 50%;
        
    }

}
@media only screen and (max-width: 600px){

    .heading2 h1 {
        font-size: 50px;
        margin-top: 20%;
        letter-spacing: 10px;
    }

    .heading2 img {
        width: 20px;
        height: 100px;
        margin-top: 15%;
    }

    .fruit {
        width: 350px;
        text-align: center;
        /* left: 25%;
        bottom: -70%; */
        margin: 70% auto 0;
    
    }
}

@media only screen and (max-width: 500px){
    .fruit {
        width: 300px;
        margin: 80% auto 0;
    }
}

@media only screen and (max-width: 400px){
    .heading2 h1 {
        font-size: 30px;
    }

    .heading2 img {
        margin-top: 10%;
        height: 70px;
    }

    .fruit {
        width: 280px;
        margin: 100% auto 0;
    
    }

    /* client */
    .clientinfo {
        width: 280px;
    }
    
}

@media only screen and (max-width: 300px){
    .heading2 h1 {
        font-size: 25px;
    }

    .heading2 img {
        width: 15px;
        height: 80px;
        margin-top: 15%;
    }

    .passage h1 {
        font-size: 25px;
    }

    .passage a {
        font-size: 15px;
    }

    .passage p {
        font-size: 14px;
    }

    .line {
        width: 130px;
    }

    .clientinfo {
        width: 250px;
    }

    .clientinfo p {
        font-size: 14px;
    }

    .fruit {
        width: 250px;
        margin: 130% auto 0;
    }

}

@media only screen and (max-width: 250px) {
    .heading2 h1 {
        font-size: 15px;
    }

    .heading2 img {
        width: 15px;
        height: 50px;
        margin-top: 15%;
    }

    .passage h1 {
        font-size: 25px;
    }

    .fruit {
        width: 190px;
        margin: 150% auto 0;
    
    }

    .clientinfo {
        width: 190px;
    }

    .footerwrap{  
        /* column-gap: 20px; */
        margin-top: 15px;
        margin-bottom: 12px;
    }

    footer .sunny {    
        font-size: 18px;
    }

    footer a {
        font-size: 10px;
    }

    /* .footerwrap li {
        margin: 0 10%;
    } */

    .logo a i {
        /* column-gap: 20px; */
        margin: 0 4px;
        font-size: 15px;
    }
}